body {

    background: rgba(229, 50, 78, 1);
}

section {
    width: 90%;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    max-width: 100%;
}

.progressBar {
    width: 100%;
    margin-left: 5%;
    height: 135px;
    display: block;
    opacity: 0;
    position: relative;
}

.fleche-container {
    float: left;
    width: calc((100% / 5));
    height: 100%;
    margin-left: -1em;
    position: relative;
}

.fleche-pixel {
    display: inline-block;
    width: calc(100% - 30px);
    height: 100%;
    position: relative;
    margin-left: -1em;
}

.fleche-container:first-child {
    background: #aaacad;
}

.fleche-container:first-child .fleche-pixel {
    background: #c1c2c2;
    z-index: 5;
    position: relative;
}

.fleche-container:first-child .fleche-pixel:before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    background: #c1c2c2;
    margin: 0px auto;
    width: 15px;
    height: 15px;
    box-shadow: 0px 15px 0 0 #c1c2c2, 15px 15px 0 0 #c1c2c2, 0px 30px 0 0 #c1c2c2, 15px 30px 0 0 #c1c2c2, 30px 30px 0 0 #c1c2c2, 0px 45px 0 0 #c1c2c2, 15px 45px 0 0 #c1c2c2, 30px 45px 0 0 #c1c2c2, 45px 45px 0 0 #c1c2c2, 0px 60px 0 0 #c1c2c2, 15px 60px 0 0 #c1c2c2, 30px 60px 0 0 #c1c2c2, 45px 60px 0 0 #c1c2c2, 60px 60px 0 0 #c1c2c2, 0px 75px 0 0 #c1c2c2, 15px 75px 0 0 #c1c2c2, 30px 75px 0 0 #c1c2c2, 45px 75px 0 0 #c1c2c2, 0px 90px 0 0 #c1c2c2, 15px 90px 0 0 #c1c2c2, 30px 90px 0 0 #c1c2c2, 0px 105px 0 0 #c1c2c2, 15px 105px 0 0 #c1c2c2, 0px 120px 0 0 #c1c2c2;

}

.fleche-container:nth-child(2) {

    background: #929596;
}

.fleche-container:nth-child(2) .fleche-pixel {
    background: #aaacad;
    position: relative;
    z-index: 4;
    padding-left: 30px;
}

.fleche-container:nth-child(2) .fleche-pixel:before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    background: #aaacad;
    margin: 0px auto;
    width: 15px;
    height: 15px;
    box-shadow: 0px 15px 0 0 #aaacad, 15px 15px 0 0 #aaacad, 0px 30px 0 0 #aaacad, 15px 30px 0 0 #aaacad, 30px 30px 0 0 #aaacad, 0px 45px 0 0 #aaacad, 15px 45px 0 0 #aaacad, 30px 45px 0 0 #aaacad, 45px 45px 0 0 #aaacad, 0px 60px 0 0 #aaacad, 15px 60px 0 0 #aaacad, 30px 60px 0 0 #aaacad, 45px 60px 0 0 #aaacad, 60px 60px 0 0 #aaacad, 0px 75px 0 0 #aaacad, 15px 75px 0 0 #aaacad, 30px 75px 0 0 #aaacad, 45px 75px 0 0 #aaacad, 0px 90px 0 0 #aaacad, 15px 90px 0 0 #aaacad, 30px 90px 0 0 #aaacad, 0px 105px 0 0 #aaacad, 15px 105px 0 0 #aaacad, 0px 120px 0 0 #aaacad;

}

.fleche-container:nth-child(3) {

    background: #6a6d6e;
}

.fleche-container:nth-child(3) .fleche-pixel {
    background: #929596;
    position: relative;
    z-index: 3;
    padding-left: 30px;
}

.fleche-container:nth-child(3) .fleche-pixel:before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    background: #929596;
    margin: 0px auto;
    width: 15px;
    height: 15px;
    box-shadow: 0px 15px 0 0 #929596, 15px 15px 0 0 #929596, 0px 30px 0 0 #929596, 15px 30px 0 0 #929596, 30px 30px 0 0 #929596, 0px 45px 0 0 #929596, 15px 45px 0 0 #929596, 30px 45px 0 0 #929596, 45px 45px 0 0 #929596, 0px 60px 0 0 #929596, 15px 60px 0 0 #929596, 30px 60px 0 0 #929596, 45px 60px 0 0 #929596, 60px 60px 0 0 #929596, 0px 75px 0 0 #929596, 15px 75px 0 0 #929596, 30px 75px 0 0 #929596, 45px 75px 0 0 #929596, 0px 90px 0 0 #929596, 15px 90px 0 0 #929596, 30px 90px 0 0 #929596, 0px 105px 0 0 #929596, 15px 105px 0 0 #929596, 0px 120px 0 0 #929596;

}

.fleche-container:nth-child(4) {

    background: #535556;
}

.fleche-container:nth-child(4) .fleche-pixel {
    background: #6a6d6e;
    position: relative;
    z-index: 2;
    padding-left: 30px;
}

.fleche-container:nth-child(4) .fleche-pixel:before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    background: #6a6d6e;
    margin: 0px auto;
    width: 15px;
    height: 15px;
    box-shadow: 0px 15px 0 0 #6a6d6e, 15px 15px 0 0 #6a6d6e, 0px 30px 0 0 #6a6d6e, 15px 30px 0 0 #6a6d6e, 30px 30px 0 0 #6a6d6e, 0px 45px 0 0 #6a6d6e, 15px 45px 0 0 #6a6d6e, 30px 45px 0 0 #6a6d6e, 45px 45px 0 0 #6a6d6e, 0px 60px 0 0 #6a6d6e, 15px 60px 0 0 #6a6d6e, 30px 60px 0 0 #6a6d6e, 45px 60px 0 0 #6a6d6e, 60px 60px 0 0 #6a6d6e, 0px 75px 0 0 #6a6d6e, 15px 75px 0 0 #6a6d6e, 30px 75px 0 0 #6a6d6e, 45px 75px 0 0 #6a6d6e, 0px 90px 0 0 #6a6d6e, 15px 90px 0 0 #6a6d6e, 30px 90px 0 0 #6a6d6e, 0px 105px 0 0 #6a6d6e, 15px 105px 0 0 #6a6d6e, 0px 120px 0 0 #6a6d6e;

}

.fleche-container:last-child .fleche-pixel {
    background: #535556;
    position: relative;
    z-index: 1;
    padding-left: 30px;
}

.fleche-container:last-child .fleche-pixel:before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    background: #535556;
    margin: 0px auto;
    width: 15px;
    height: 15px;
    box-shadow: 0px 15px 0 0 #535556, 15px 15px 0 0 #535556, 0px 30px 0 0 #535556, 15px 30px 0 0 #535556, 30px 30px 0 0 #535556, 0px 45px 0 0 #535556, 15px 45px 0 0 #535556, 30px 45px 0 0 #535556, 45px 45px 0 0 #535556, 0px 60px 0 0 #535556, 15px 60px 0 0 #535556, 30px 60px 0 0 #535556, 45px 60px 0 0 #535556, 60px 60px 0 0 #535556, 0px 75px 0 0 #535556, 15px 75px 0 0 #535556, 30px 75px 0 0 #535556, 45px 75px 0 0 #535556, 0px 90px 0 0 #535556, 15px 90px 0 0 #535556, 30px 90px 0 0 #535556, 0px 105px 0 0 #535556, 15px 105px 0 0 #535556, 0px 120px 0 0 #535556;

}

.progressBar .fleche-pixel h2 {
    font-family: 'Zona Black', sans-serif;
    color: #fff;
    height: 135px;
    line-height: 135px;
    vertical-align: top;
    width: 100%;
    padding-left: 15px;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    display: inline-block;
}

.progressBar .fleche-pixel .cadenas {
    position: absolute;
    top: 50%;
    left: calc(100% - 10px);
    margin-top: -34px;
    width: 34px;
    display: block;
    height: 55px;
    background: url('../img/cadenas.png') no-repeat top left;

}

.deverouille {
    animation: cadenas 0s 1s ease-in-out;
    animation-fill-mode: forwards;
    transform: rotateZ(20deg) scale(1);
}

.level {
    animation: level 0.3s 1.7s ease 2;
}

@keyframes cadenas {
    50% {
        transform: rotateZ(20deg) scale(2);

    }

    100%
    {
        background-position: -34px;
        transform: rotateZ(20deg) scale(1);

    }
}

@keyframes level {
    0% {
        color: rgba(229, 50, 78, 1);
    }
    50% {
        color: rgba(255, 255, 255, 1);
    }
    100% {
        color: rgba(229, 50, 78, 1);
    }

}
.activeScene {
    opacity: 1;
}

