
/********\
    INTRO
   ETAPE_1

\********/

/* mise en place globale du décor */
body {

    background: rgba(229, 50, 78, 1);
    position: relative;
}
.home {
    width: 100%;
    max-width: 100%;
    height: 100%;""
    background: rgb(229, 50, 78);
}
.home section {
    max-width: 100%;
}
.home .logo-game>img {
    display: block;
    margin: 0 auto;
    padding: 30px 0;
}
.home .logo-imie {
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.home .logo-imie>img {
    width: 200px;
    height: 200px;
    margin: 0;
}
.home .menu-home-container {
    padding-top: 100px;
}
.home .menu-home {
    margin: auto;
    display: block;
    width: 15%;
    position: relative;
}


/* GESTION DE L'ANIMATION DU MENU ET SES ELEMENTS
/* BEFORE:Menu = Fleche bleu*/
.home .menu-home:before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    background: #fff;
    margin: 0px auto;
    width: 5px;
    height: 5px;
    box-shadow: 0em 0.3em 0 0 rgb(92, 193, 240), 0.3em 0.3em 0 0 #fff, 0em 0.6em 0 0 rgb(92, 193, 240), 0.3em 0.6em 0 0 rgb(92, 193, 240), 0.6em 0.6em 0 0 #fff, 0em 0.9em 0 0 rgb(92, 193, 240), 0.3em 0.9em 0 0 rgb(92, 193, 240), 0.6em 0.9em 0 0 rgb(92, 193, 240), 0.9em 0.9em 0 0 #fff, 0em 1.2em 0 0 rgb(92, 193, 240), 0.3em 1.2em 0 0 rgb(92, 193, 240), 0.6em 1.2em 0 0 rgb(92, 193, 240), 0.9em 1.2em 0 0 rgb(92, 193, 240), 1.2em 1.2em 0 0 #fff, 0em 1.5em 0 0 rgb(92, 193, 240), 0.3em 1.5em 0 0 rgb(92, 193, 240), 0.6em 1.5em 0 0 rgb(92, 193, 240), 0.9em 1.5em 0 0 #fff, 0em 1.8em 0 0 rgb(92, 193, 240), 0.3em 1.8em 0 0 rgb(92, 193, 240), 0.6em 1.8em 0 0 #fff, 0em 2.1em 0 0 rgb(92, 193, 240), 0.3em 2.1em 0 0 #fff, 0em 2.4em 0 0 #fff;
    animation: arrow 1.5s steps(3) 1, pulse 0.3s 2.5s ease 2;
}
/* elements de la liste */
.home .menu-home li {
    color: #fff;
    font-size: 40px;
    line-height: 90px;
    text-align: left;
    margin-left: 90px;
}
/* lien actifs = bleu */
.home .menu-home li a.active {
    color: rgb(92, 193, 240);
}

/* ANIMATION pulse validation START*/
.home .menu-home li:first-child a {
    animation: pulse 0.3s 2.5s ease 2;
}
/* FadeIn pour passer à l'écran suivant */
.fadeIn
{
    position: absolute;
    display: block;
    z-index: 10;
    top:50%;
    left:50%;
    transform: translatex(-50%) translateY(-50%);
    width: 100%;
    height: 100%;
    animation: fadeIn 1s 3.5s ease;
}
/* anim page home pour laisser place à la page 2 */
.home {
    animation: movingScreen 0.3s ease forwards;
    animation-delay: 4.3s;
    position: relative;
    z-index: 2;
    background-color: #E7344C;
}
/* anim arrow menu 1 */
@keyframes arrow {
    0% {
        top: 20px;
    }
    100% {
        top: 290px;
    }
}
/* anim pulse arrow + lien*/
@keyframes pulse {
    0% {
        opacity: 1;
        color: rgb(92, 193, 240);
    }
    50% {
        opacity: 0;
        color: #fff;
    }
    100% {
        opacity: 1;
        color: rgb(92, 193, 240);
    }
}
/* anim fade in */
@keyframes fadeIn {
   0% {
       background: rgba(255, 255, 255, 0);
   }

    100%
    {
        background: rgba(255,255,255,1);
    }
}
/* anim fade out*/
@keyframes fadeOut {
    0% {
        background: rgba(255, 255, 255, 1);
    }

    100%
    {
        background: rgba(255,255,255,0);
    }
}
/* anime screen */
@keyframes movingScreen {
    0% {
        top: 0%;
    }
    100% {
        top: -130%;
    }
}
